body {
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    gap:16px;
  }

.header{
    background: #1F2937;
    color: #F9FAF8;
    flex-direction: column;
    padding: 16px 10%;
    display:flex;
}

.top_header, .bottom_header{
    flex:1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    gap: 32px;
    
}

.logo_left,.links_right{
    display: flex;
    align-items: center;
}

.logo_left{
    font-size: 24px;
    font-weight: 900;
}

.links_right{
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.link_text, a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-bottom: 16px;
}

.inn_header{
    font-size: 48px;
    font-family: 900;
    margin-bottom: 16px;
}

.bottom_header img{
    max-width:300px;
    max-height: 200px;
}

.content{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.info_section, .popup_section{
    flex:1;
    background: white;
    padding: 16px 10%;
}   

.quote_section{
    flex:1;
    background: #E5E7EB;
    padding: 16px 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.top_quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.bottom_text{
    text-align: right;
    font-weight: 800;
}

.sign-up-button{
    padding: 4px 24px;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
}

.popup{
    background: #3882F6;
    color: white;
    padding: 48px 64px;
    gap: 64px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
   
}

.popup .sign-up-button{
    border:3px solid #E5E7EB;
}

.footer {
    height: 72px;
    font-size: 12px;
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
